HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
Scheduling and placement of your containers


bullet
Automatically scaling in or out the number of containers as appropriate


bullet
Self-healing your services by automatically removing unhealthy containers and deploying new ones in their place


bullet
Integration with the cloud and other services, such as networking services and persistent storage


bullet
Security, monitoring, and logging for your system